# for loop

In [1]:
a = ['mango','banana','apple']
print (a[0])
print (a[1])
print (a[2])

mango
banana
apple

In [2]:
a = ['mango','banana','apple']

for element in a:
    print(element)

mango
banana
apple

In [3]:
b = [20, 10, 5]

for element in b:
    print(element)

20
10
5

In [53]:
for x in range(2, 30, 3): #3 step Jumping.
  print(x)

2
5
8
11
14
17
20
23
26
29

In [45]:
c = [20, 10, 5]
total = 0
for e in c:
    total = total + e
print(total)

35

In [54]:
#1,2,3,4

c = list(range(1, 11))
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
for x in range(6):
  print(x)
else:
  print("finished!")

0
1
2
3
4
5
finished!

In [55]:
total2 = 0
for i in range(1,5):
    total2 = total2 + i
print(total2)

10

In [56]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "strawberry"]

In [57]:
for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red strawberry
big apple
big banana
big strawberry
tasty apple
tasty banana
tasty strawberry

In [58]:
print(list(range(1,8))) # 1 to 7.

[1, 2, 3, 4, 5, 6, 7]

In [59]:
total3 = 0
for i in range (1 , 9):
    if i % 3 == 0:
        total3 += i
print(total3)

9

In [9]:
# compute all multiples of 3,5
# that are less then 100.

In [60]:
num = 0

for i in range (0, 100):
    if i % 3 == 0 and i % 5 == 0:
            num += i
print(num)

315

In [79]:
#Key,Value Counting..

In [61]:
d = {'k1': 2, 'k2': 2, 'k3': 3}

for key in d:
    print(key)

k1
k2
k3

In [62]:
for value in d.items():
    print(value)

('k1', 2)
('k2', 2)
('k3', 3)

In [63]:
for key,value in d.items():
    print(key)

k1
k2
k3

In [64]:
for key,value in d.items():
    print(value)

2
2
3

In [65]:
#Touple Unpacking...

In [66]:
mylist1 = [(1,2,3), (3,4,2), (4,5,6)]

for a,b,c in mylist1:
    print(b)

2
4
5

In [67]:
#another example

In [68]:
mylist2 = [(1,2), (3,4), (5,6), (7,8)]

for a,b in mylist2:
    print(a)

1
3
5
7

In [71]:
my_list = [(1,2), (3,4), (5,6), (7,8)]

for item in my_list:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [72]:
for letter in 'hello world':
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [73]:
for number in range(1, 21):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [74]:
# total sum

a = [1,5,6,4,8]

total_sum = 0

for num in a:
    total_sum += num
print(total_sum)

24

In [29]:
counter = 0

for i in range( 1 , 100):
    if i % 3 == 0 and i % 5 == 0:
        counter += i
print(i)

99

In [30]:
total_num = 0

for i in range (0, 100):
    if i % 3 == 0 and i % 5 == 0:
            total_num += i
print(total_num)

315

In [35]:
a = ["mango","apple",20.5,22,17,20]
for i in a:
    print(a[0])

mango
mango
mango
mango
mango
mango

In [75]:
#ODD number 1 to 10.

for i in range(1,10):
    if(i % 2 != 0):
        print(i)

1
3
5
7
9

In [76]:
# celcius to farenheight convert

In [80]:
celcius = [0,10,20,30.5]

farenheight =  [((9/5) * temp + 32) for temp in celcius]

print(farenheight)

[32.0, 50.0, 68.0, 86.9]

In [81]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x == "banana":
    continue
    print(x)

apple
banana
cherry