# It's Python3,  Basics to some advance - All in one

In [1]:
### Python Keywords or ( reserved words )

1. keyword are means reserved words in python.
2. keywords are case-sensitive.

In [2]:
import keyword

In [3]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
print("Length of keywords are: ", len(keyword.kwlist))

Length of keywords are:  35

# Identifiers

1. Python identifier is a name used to identify a variable, function, class, module or other object. An identifier starts with a letter A to Z or a to z or an underscore (_) followed by zero or more letters, underscores and digits (0 to 9).

2. A identifier can not start with digit.
3. Keywords can not used an identifer.
4. !@# etc can not used as a identifier.

In [5]:
ab_c_12 = 3 #it's right

In [6]:
12_abc = 0 # it's wrong

SyntaxError: invalid token (<ipython-input-6-fb057e1a9f43>, line 1)

In [7]:
#for python multi line statement

In [8]:
a = (1 + 2 +3 +
    4 + 5 + 6 +
    7 + 8)
print(a)

36

In [9]:
a = 10; b = 15; c = 20   # multiple statement is single line using ;

# Multiple Assignments

In [10]:
a, b, c = 10, 5.5 , "ML"

In [11]:
a = b = c = "AI"  # assign same value multiple variable at one

# Storage/Memory Location

In [12]:
x = 3
print(id(x))

140725744087952

In [13]:
y = 3
print(id(y))

140725744087952

In [14]:
# here x and y value is same and they use same memory point location...

In [15]:
y = 5
print(id(y))

140725744088016

## Note:  Everything in a python is object

In [16]:
a = 2.3                               #data type is change to float
print(a, "is a type of ", type(a))

2.3 is a type of  <class 'float'>

In [17]:
b = 5                                #data type is change to int
print(b,"is a type of ", type(b))

5 is a type of  <class 'int'>

In [18]:
a = 1 + 2j  #data type is change to complex number.
print(a, "is a complex number?")
print(isinstance(1 + 2j, complex))

(1+2j) is a complex number?
True

In [19]:
type(a)

complex

# Boolean

In [20]:
a = True

In [21]:
print(a)

True

# Python Strings

* String is a sequence of unicode characters, letters, numbers,    special characters.
* We can use single or double quotes to represent strings.
* Multi Line string denoted triple quotes, ''' or """

In [22]:
a = "I learn machine learning"

In [23]:
print(a)

I learn machine learning

In [24]:
type(a)

str

In [25]:
b = """I learn
machine learning"""
print(b)

I learn
machine learning

In [26]:
type(b)

str

In [27]:
print(b[-1])

g

In [28]:
print(b[len(a)-1])

g

In [29]:
print(b[0])

I

In [30]:
print(b[::-1]) # whole reverse

gninrael enihcam
nrael I

In [31]:
a[5:]  #slicing string

'rn machine learning'

In [32]:
 a[5:7]

'rn'

# Python List

In [33]:
a = [10 , 45.5, "hello"] # here , multiple data types

In [34]:
print(a)

[10, 45.5, 'hello']

In [35]:
print(a[2])

hello

* Lists are changeable.

In [36]:
a[2] = "hi"

In [37]:
print(a)

[10, 45.5, 'hi']

# Python Tuple

* Tuple element can not be modified, it's unchangeable.
* Tuples are immutable.

In [38]:
a = (10, 45.5, "hello")

In [39]:
print(a)

(10, 45.5, 'hello')

In [40]:
a[0] = 20 #type error

TypeError: 'tuple' object does not support item assignment

# Python Set

In [41]:
a = {10, 45.5, "hello"}

In [42]:
print(a)

{10, 45.5, 'hello'}

In [43]:
type(a)

set

In [44]:
myset = {10, 20, 20, 10, 30, 20, 10, 20}

In [45]:
print(myset)  # Set only store unique values

{10, 20, 30}

In [46]:
print((myset[1])) #Set does not support indexing.

TypeError: 'set' object does not support indexing

* Set does not support indexing cause it's unordered collection of unique elements.

# Python Dictionary

* Dictionary is an unordered collection of key-value pairs.

In [47]:
d = {'a': "apple", 'b': "bat"}

In [48]:
print(d['a'])

apple

# Conversion between Datatypes

In [49]:
str(20)

'20'

In [50]:
int(50.22)

50

In [51]:
user = "satish"
lines = 100

In [52]:
print("Congrats! " + user + " You wrote " + str(lines) + " lines of code")

Congrats! satish You wrote 100 lines of code

In [53]:
mylist = [1, 2, 3, 4]

print(type(mylist))

s = set(mylist)

print(type(s))

<class 'list'>
<class 'set'>

In [54]:
list("welcome")

['w', 'e', 'l', 'c', 'o', 'm', 'e']

# Output Formatting

In [55]:
a = 10; b = 30

print("Value of a is {} and b is {}".format(a, b))

Value of a is 10 and b is 30

In [56]:
print("Value of b is {1} and a is {0}".format(a, b))

# here, 1 means 30, 0 means 10

Value of b is 30 and a is 10

In [57]:
print("hello {name}, {greetings}".format(name = "Nadim", greetings = "Good Morning"))

hello Nadim, Good Morning

In [58]:
print("The story of {0}, {1}, and {other}".format("Nadim", "Fahim", other = "Alex"))

The story of Nadim, Fahim, and Alex

# Python Input Output

In [59]:
a = 30

print("The value of a is:",a)

print("The value of a is: " + str(a))

#both output is same

The value of a is: 30
The value of a is: 30

In [60]:
num = int(input("enter a number here: "))
print(num)

enter a number here: 40
40

In [61]:
name = input("Enter your name: ")
print("Your name is", name)

Enter your name: Nadim
Your name is Nadim

# Operator in python

###  Arithmatic Operator

In [62]:
x , y = 10, 20

In [63]:
print(x + y) #addition
print(x - y) #sbstraction
print(x * y) #multiplication
print(x / y) #devision
print(x % y) #modulus, it gives reminder.
print(x // y) # floor division.
print(x ** y) #exponent

30
-10
200
0.5
10
0
100000000000000000000

print(13//2) # it's floor division

In [64]:
print(-13//2)

-7

### Comparison operator

In [65]:
a, b = 30, 40

print(a < b)
print(a > b)
print(a <= b)
print(a >= b)

True
False
True
False

### Logical Operator

In [66]:
a , b = True, False

In [67]:
print(a and b)

False

In [68]:
print(a or b)

True

### bitwise operator &, |, >>, <<

In [69]:
a, b = 10 , 4

In [70]:
print( a & b) #and
print( a | b) #or

0
14

### assignment operator

In [71]:
a = 10

a += 10             # a = a + 10
print(a)

20

### Identity operator

In [72]:
a = 5
b = 5
print(a is b) # it happen for same memory location

True

In [73]:
a = [1,2,3]
b = [1,2,3]
print(a is b) # it's not happen here

False

In [74]:
s1 = "ABC"
s2 = "ABC"

print(s1 is s2)
print(s1 is not s2)

True
False

### Membership Operator ( Using in operator )

In [75]:
list = [1, 2, 3, 4]
print(1 in list)

True

In [76]:
dic = {1: 'a', 2: 'b'}

print(9 in dic)
print(2 in dic)

False
True

# If-Else Statement

In [77]:
num = 10
if num > 10:
    print("Positive Number")
else:
    print("Negative Number")

Negative Number

In [78]:
num = 9

if num > 10:
    print("Positive Number")
elif num == 0:
    print("zero")
else:
    print("It's Negative Number")

It's Negative Number

#### Nested- if- else

In [79]:
num = 10.5

if num >= 0:
    if num == 0:
        print('zero')
    else:
        print('positive Number')
else:
    print("negative number")

positive Number

In [80]:
num1 = 20
num2 = 30
num3 = 40

if (num1 >= num2) and (num1 >= num3):
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3
    
print("Largest element among three numbers is:{}".format(largest))

Largest element among three numbers is:40

# While loop

In [81]:
#find product of all numbers present in the list

In [82]:
mylist = [10, 20, 30, 40, 50]

In [83]:
product = 1
index = 0

In [84]:
while index < len(mylist):
    product *= mylist[index]
    index += 1

print("Product is : {}".format(product))

Product is : 12000000

In [85]:
i = 1
while i <= 10:
    print(i ** 2)
    i += 1

1
4
9
16
25
36
49
64
81
100

In [86]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [87]:
numbers = [1,2,3,4,5]
index = 0

while index < len(numbers):
    print(numbers[index])
    index += 1
else:
    print("No item left\n")

1
2
3
4
5
No item left

# For Loop

In [88]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [89]:
for i in range(1,20,2): #2 step size
    print(i)

1
3
5
7
9
11
13
15
17
19

In [90]:
#Find product all of those numbers in this List

lst = [2, 3, 4, 2, 1]

product = 1

for ele in lst:
    product *= ele

print("product is : {}".format(product))

product is : 48

In [91]:
lst = ["a", "b", "c", "d", "e"]

for element in lst:
    print(element)

a
b
c
d
e

In [92]:
numbers = [1,2,3]

for item in numbers:
    print(item)
    if item % 2 ==0:
        break
else:
    print("no item left in this list")

1
2

##### Nested for loop

In [93]:
for number in range(3) :  
    print("hi")
    # Inner loop
    for another_number in range(5):  
        print("*")

hi
*
*
*
*
*
hi
*
*
*
*
*
hi
*
*
*
*
*

# Break and Continue

In [94]:
numbers = [1, 2, 3, 4]

for num in numbers:
    if num == 4:
        break
    print(num)
else:
    print("in the else block")
print("Outside of for loop")

1
2
3
Outside of for loop

In [95]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num % 2 == 0:
        continue
    print(num)
else:
    print("Out of loop")

1
3
5
Out of loop

####  example for break

In [96]:
number = 0

for number in range(10):
    number += 1
    
    if number == 5:
        break
    print("Number is: " + str(number))
    
    
print("out of this loop")

Number is: 1
Number is: 2
Number is: 3
Number is: 4
out of this loop

####  example for continue

In [97]:
number = 0

for number in range(10):
    number += 1
    
    if number == 5:
        continue
    print("Number is: " + str(number))
    
    
print("out of this loop")

Number is: 1
Number is: 2
Number is: 3
Number is: 4
Number is: 6
Number is: 7
Number is: 8
Number is: 9
Number is: 10
out of this loop

####  example for pass

In [98]:
number = 0

for number in range(10):
    number += 1
    
    if number == 5:
        pass
    print("Number is: " + str(number))
    
    
print("out of this loop")

Number is: 1
Number is: 2
Number is: 3
Number is: 4
Number is: 5
Number is: 6
Number is: 7
Number is: 8
Number is: 9
Number is: 10
out of this loop

# Python Collections (Arrays)


<p> There are four collection data types in the Python programming language:<p>

* List is a collection which is ordered and changeable. Allows duplicate members.


* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.


* Set is a collection which is unordered and unindexed. No duplicate members.


* Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

# List in Python

* Lists are immutable . Being immutable it does not have method that add or remove elements.

In [99]:
lst = ["one", "two", "Three", "Four"]

print(len(lst)) #list length

4

#### Append

In [100]:
lst = ["one", "two", "Three", "Four"]

lst.append("Ten")

print(lst)

['one', 'two', 'Three', 'Four', 'Ten']

#### insert

In [101]:
lst = ["one", "two", "Three", "Four"]

lst.insert(0, "six")  #its add six on zero location

print(lst)

['six', 'one', 'two', 'Three', 'Four']

#### remove

In [102]:
lst = ["one", "two", "Three", "Four"]

lst.remove("Three")  #its add six on zero location

print(lst)

['one', 'two', 'Four']

#### Append & Extend

In [103]:
lst = ["one", "two", "three"]

lst2 = ["four", "five"]

lst.append(lst2)

print(lst)

['one', 'two', 'three', ['four', 'five']]

#### Delete List using .pop

In [104]:
lst = ["one", "two", "three", "four", "five"]

lst.pop(0)

print(lst)

['two', 'three', 'four', 'five']

#### List related keywords in python

In [105]:
lst = ["one", "two", "three", "four", "five"]

if "two" in lst:
    print("Machine Learning")
    
    
if "seven" is not list:
    print("AI")

Machine Learning
AI

#### List Reverse

In [106]:
lst = ["one","two","three","four", "five"]

lst.reverse()

print(lst)

['five', 'four', 'three', 'two', 'one']

In [107]:
lst[::-1] #it's another method of reverse

['one', 'two', 'three', 'four', 'five']

### List Sorting by Ascending Order

In [108]:
numbers = [3, 2, 9, 7, 1, 4]

sort = sorted(numbers)  

print(sort)

[1, 2, 3, 4, 7, 9]

###### it's also give same output but it's not store on a variable

In [109]:
lst = [3, 2, 9, 7, 1, 4]

lst.sort()

print(lst)

[1, 2, 3, 4, 7, 9]

#### List Sorting by Descending Order

In [110]:
numbers = [3, 2, 9, 7, 1, 4]

sort = sorted(numbers, reverse = True)  

print(sort)

[9, 7, 4, 3, 2, 1]

#### String Split to create a list

In [111]:
w = "Today I learn Python"

x = w.split()       # convert a sentense to list use only () not (,)

print(x)

['Today', 'I', 'learn', 'Python']

#### List indexing

In [112]:
lst = [1, 2, 3, 4]

print(lst[1]) #it's print 2nd element
print(lst[-1]) # it's print last element

2
4

#### List Slicing

In [113]:
numbers = [10, 12, 14, 20, 56, 76, 80]

print(numbers[0:2])
print(numbers[::2])  #first index,last index,step size
print(numbers[2::2]) # only 2step

[10, 12]
[10, 14, 56, 80]
[14, 56, 80]

#### List extend using +

In [114]:
lst1 = ["nadim", "anik", "fahim"]

lst2 = [1, 2, 3, 5]

newlist = lst1 + lst2

print(newlist)

['nadim', 'anik', 'fahim', 1, 2, 3, 5]

#### List Count .count method

In [115]:
numbers = [1, 2, 3, 7, 8, 9, 4]

print(numbers.count(1))

1

#### List Looping

In [116]:
lst = ["one", "two", "three", "four", "five"]

for element in lst:
    print(element)

one
two
three
four
five

#### List comprehension example

In [117]:
numbers = [1, 2, 3, 4]
squares = []

for n in numbers:
  squares.append(n**2)

print(squares)

[1, 4, 9, 16]

In [118]:
numbers = [1, 2, 3, 4]
squares = [n**2 for n in numbers]

print(squares)  # Output: [1, 4, 9, 16]

[1, 4, 9, 16]

# Tuples in python

In [119]:
#tuples are immutable, we can not change element in tuple.

In [120]:
#empty tuple
t= ()

#tuple having integers
t = (1,2,3)
print(t)

#tuple with mixed datatypes
t = (1, "raju", 28, "jack")
print(t)

#nested tuple
t = (5, (1,2,3), ["alex", 28])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'jack')
(5, (1, 2, 3), ['alex', 28])

In [121]:
#only parenthesis is not enough

t = ("alex")
type(t)

str

In [122]:
#need a coma at the end
t = ("alex",)
z = ("alex", "ranveer")
type(t)
type(z)

tuple

In [123]:
#But for two element it's ok
t = ("alex", "ranveer")
type(t)

tuple

In [124]:
#parenthesis is optional

t = "alex",
type(t)

tuple

#### Accessing Elements in Tuple

In [125]:
t = ("satish", "muril", "naveen", "bharma")

print(t[1])

muril

In [126]:
print(t[-1])

bharma

In [127]:
#nested tuple

t = ("abc", ("satish", "muril", "naveen", "bharma"))
print(t[1])

('satish', 'muril', 'naveen', 'bharma')

In [128]:
print(t[1][2])

naveen

#### tuple slicing

In [129]:
t = (1, 2, 3, 4, 5, 6)

print(t[1:4])

(2, 3, 4)

In [130]:
print(t[:-2])

(1, 2, 3, 4)

In [131]:
print(t[:])

(1, 2, 3, 4, 5, 6)

#### changing a tuple

In [132]:
t = (1, 2, 3, 4, [5, 6, 7,8])

t[4][1] = 'alex'

print(t)

(1, 2, 3, 4, [5, 'alex', 7, 8])

#### concatinate tuples

In [133]:
t = (1,2,3) + (4,5,6)

print(t)

(1, 2, 3, 4, 5, 6)

In [134]:
t = (('alex',) * 4)

print(t)

('alex', 'alex', 'alex', 'alex')

#### touple count

In [135]:
t = (1, 2, 3, 3, 4, 5, 6, 7, 8, 9)

t.count(3) # total counting of 3, that is 2 times.

2

#### touple index

In [136]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

t.index(3) # though 3 multiple times it counts first one.

2

#### tuple membership

In [137]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

print(2 in t)
print(7 in t)

True
False

#### tuple length

In [138]:
t = (4, 5, 3, 2, 6)

print(len(t))

5

#### tuple sort

In [139]:
t = (4, 5, 6, 3, 2, 1, 0)

newtuple = sorted(t)

print(newtuple)

[0, 1, 2, 3, 4, 5, 6]

#### tuple min,max,sum

In [140]:
print(max(t))

print(min(t))

print(sum(t))

6
0
21

# Sets in Python

* Sets are unordered collection of elements.Every element is unique(no duplicates). It does not support indexing.



* Sets are mutable. We can add or remove item on it.

In [141]:
s = set() # this is empty set.

print(type(s))

<class 'set'>

In [142]:
s = {1, 2, 3}

print(s)

{1, 2, 3}

In [143]:
s = { 1, 2, 3, 1, 4} #here, duplicate item 1 will be print only 1 time.

print(s)

{1, 2, 3, 4}

#### Add element to set.

In [144]:
s = {1, 3}

s.add(5)

print(s)

{1, 3, 5}

In [145]:
# Add multiple elements

s.update([5,6,1])

print(s)

{1, 3, 5, 6}

In [146]:
# add list and set

s.update([8, 9], {10, 2, 3})

print(s)

{1, 2, 3, 5, 6, 8, 9, 10}

#### remove element from a set ( discard / remove method )

In [147]:
s = {1, 2, 3, 5, 4}

s.discard(2) # 4 remove

print(s)

{1, 3, 4, 5}

In [148]:
s = {1, 2, 3, 5, 4}

s.remove(5)

print(s)

{1, 2, 3, 4}

In [149]:
#pop method remove random element

s = {5,6,8,4}

s.pop()

print(s)

{4, 5, 6}

In [150]:
# remove all items using clear method

s = {1, 2, 3, 5, 4}

s.clear()

print(s)

set()

### Python Set Operations

In [151]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

In [152]:
#Union of two sets using | operator

print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7}

In [153]:
#use union function

print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}

In [154]:
#Intersection of two sets using & operator

print(set1 & set2)

{3, 4, 5}

In [155]:
#use intersection function

print(set1.intersection(set2))

{3, 4, 5}

In [156]:
#Set difference

print(set1 - set2)

{1, 2}

In [157]:
#use difference function

print(set1.difference(set2))

{1, 2}

In [158]:
"""symmetric difference : set of elements in both set1 and set2.
#except those that are common in both."""

# use ^ operator

set1 = {1,2,3,4,5}
set2=  {3,4,5,6,7}


print(set1 ^ set2)

{1, 2, 6, 7}

In [159]:
#use symmetric difference function

print(set1.symmetric_difference(set2))

{1, 2, 6, 7}

In [160]:
#find issubset()

x = {"a", "b", "c", "d", "e"}
y = {"c", "d"}

print("set 'x' is subset of 'y'? ", x.issubset(y)) #check x is subset of y

print("set 'y' is subset of 'x'? ", x.issubset(x)) # check y is subset of x

set 'x' is subset of 'y'?  False
set 'y' is subset of 'x'?  True

## Frozen Sets

* Frozen sets has the characteristics of sets, but we can't be changed once it's assigned. While tuple are immutable lists, frozen sets are immutable sets.


* Frozensets can be created using the function frozenset()


* Sets being mutable are unhashable, so they can't be used as dictionary keys. On the other hand, frozensets are hashable and can be used as keys to a dictionary.


* This datatype supports methods like copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union().

* <b>Being immutable it does not have method that add or remove elements.</b>

* Note: FrozenSets is very useful when using hash table

In [161]:
set1 = frozenset([1, 2, 3, 4])
set2 = frozenset([3, 4, 5, 6])

In [162]:
print(set1 | set2) #union

frozenset({1, 2, 3, 4, 5, 6})

In [163]:
print(set1 & set2) #intersection

frozenset({3, 4})

In [164]:
print(set1 ^ set2) # symmetric difference

frozenset({1, 2, 5, 6})

# Dictionary in Python

* <p> Dictionary is an unordered collection of items. While other compound data
types have only value as an element, a dictionary has a key value pair. <p>

#### Dict creation

In [165]:
#empty dictionary
mydict = {}

In [166]:
mydict = {1: "abc", 2: "def"}

print(mydict)

{1: 'abc', 2: 'def'}

In [167]:
#dictionary with mixed keys

mydict = {'name':'alex', 1: ['abc', 'xyz']}

print(mydict)

{'name': 'alex', 1: ['abc', 'xyz']}

In [168]:
#create empty dictionary using dict

mydict = dict()

mydict = dict([(1, 'abc'), (2, 'xyz')]) #create dict with list of tuple

print(mydict)

{1: 'abc', 2: 'xyz'}

#### Dict Access

In [169]:
my_dict = {'name': 'satish', 'age' : 27, 'address': 'New York'}

print(my_dict['name'])

satish

In [170]:
#if key is not present it gives me KeyError

print(my_dict['alex'])

KeyError: 'alex'

#### another way to accessing key .get method

In [171]:
print(my_dict.get('name'))

satish

In [172]:
#if key is not present it gives me None

print(my_dict.get('alex'))

None

#### Add or Modify Elements on Dictionary

In [173]:
my_dict = {'name': 'nadim', 'age' : 20, 'address': 'New York'}


#update name.

my_dict['name'] = 'raju'

print(my_dict)

{'name': 'raju', 'age': 20, 'address': 'New York'}

In [174]:
# add new key

my_dict['degree'] = 'B.Sc'

print(my_dict)

{'name': 'raju', 'age': 20, 'address': 'New York', 'degree': 'B.Sc'}

#### Delete or Remove Elements on Dictionary

In [175]:
# remove a particular iteam using pop method.

my_dict = {'name': 'nadim', 'age' : 20, 'address': 'New York'}

my_dict.pop('age')

print(my_dict)

{'name': 'nadim', 'address': 'New York'}

In [176]:
# delete an arbitrary key using popitem method.

my_dict = {'name': 'nadim', 'age' : 20, 'address': 'New York'}

my_dict.popitem()

print(my_dict)

{'name': 'nadim', 'age': 20}

### another example

In [177]:
squares = {2 : 4, 5 : 7, 3 : 9, 8 : 6}

del squares[5]  # for delete particular key

print(squares)

{2: 4, 3: 9, 8: 6}

In [178]:
#remove all items.

squares = {2 : 4, 5 : 7, 3 : 9, 8 : 6}

squares.clear()

print(squares)

{}

### Some Dicitionary Methods

In [179]:
squares = {2 : 4, 5 : 7, 3 : 9, 8 : 6}

my_dict = squares.copy()

print(my_dict)

{2: 4, 5: 7, 3: 9, 8: 6}

In [180]:
# When every key value is same, then try this method

subjects  = {}.fromkeys(['Math', 'English', 'Hindi'], 0)

print(subjects)

{'Math': 0, 'English': 0, 'Hindi': 0}

In [181]:
subjects = {2:4, 3:9, 4:16, 5:25}

print(subjects.items())

dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])

In [182]:
subjects = {2:4, 3:9, 4:16, 5:25}

print(subjects.keys()) # for only keys

dict_keys([2, 3, 4, 5])

In [183]:
subjects = {2:4, 3:9, 4:16, 5:25}

print(subjects.values()) # for only values

dict_values([4, 9, 16, 25])

In [184]:
# get list of all avilable methods and attributes of dictionary

d = {}

print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

### Dictionary Comprehension

In [185]:
d = {'a': 1,'b': 2,'c': 3}

for pair in d.items():
    print(pair)

('a', 1)
('b', 2)
('c', 3)

In [186]:
# create a new dict with only pairs where the value is larger than 2

d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

new_dict = {k:v for k,v   in  d.items() if v>2}

print(new_dict)

{'c': 3, 'd': 4}

# Strings in python

* A string is a sequence of characters.


* In python string is an Unicode character.

In [187]:
mystring = "Hello"
print(mystring)

mystring = 'Hello'
print(mystring)

mystring = '''Hello''' #is used for multiline codes
print(mystring)

Hello
Hello
Hello

#### How to access charcters in a string?

In [188]:
mystring = "Hello"

print(mystring[0]) # first character

print(mystring[-1]) # last character

print(mystring[2:5]) #slicing 2nd to 5th character

H
o
llo

In [189]:
# here we get an error(out of the range)

print(mystring[10])

IndexError: string index out of range

In [190]:
# is also gives an errror. String must be integer.

print(mystring[1.2])

TypeError: string indices must be integers

#### How to change or delete a string?

* Strings are immutable. This means that elements of a string can not be changed once it has been assigned.


* We can simply reassign different strings to the same name.

In [191]:
mystring = "hello"

mystring[4] = "s"  # string are immutable

TypeError: 'str' object does not support item assignment

In [192]:
mystring

'hello'

In [193]:
del mystring # it delete whole string

In [194]:
mystring

NameError: name 'mystring' is not defined

### String Operations

In [195]:
s1 = "Hello "
s2 = "Nadim"

print(s1 + s2) # concatenation two string

print(s1 * 3) # repeat string n times

Hello Nadim
Hello Hello Hello

### Iterating Through String

In [196]:
count = 0

for l in "Hello World":
    if l == "o":
        count += 1
print(count, "letters found")

2 letters found

### String Membership Test

In [197]:
print('o' in 'Hello World')

print('z' in 'Hello World')

print('or' in 'Hello World')

True
False
True

### String Methods

In [198]:
"Hello".lower()

'hello'

In [199]:
"Hello".upper()

'HELLO'

In [200]:
"Today is a beautiful day".split()

['Today', 'is', 'a', 'beautiful', 'day']

In [201]:
' '.join(['I', 'Learn', 'Python', 'for' , 'Machine', 'Learning'])

'I Learn Python for Machine Learning'

In [202]:
'GoodBye'.find('By')

4

In [203]:
"Bad Morning".replace("Bad", "Good")

'Good Morning'

In [204]:
s1 = 'Python Language'

s2 = s1.replace('Python', 'Java') # another replace method

print(s2)

Java Language

### Python Program to sort Words in Alphabetic Order ?

In [205]:
mystr = "Python is very easy programming language"

words = mystr.split()

words.sort()

for word in words:
    print(word)

Python
easy
is
language
programming
very

# Python Functions

* Function is a group of related statement that perform a specific task.

* Two types of function: 1. Built in Function 2. User-Defined Functions

In [206]:
def myname(name):
    
    """
    This function print myname. 
    """
    
    print("hello " +  str(name))

In [207]:
myname('nadim') #function call

hello nadim

In [208]:
print(myname.__doc__)  # Its print the doc string...

    This function print myname.

In [209]:
#another example


def getsum(lst):
    """
    this function return sum of all the elements in a list
    """
    
    sum = 0
    
    for num in lst:
        sum = sum + num;
        
    return sum

In [210]:
s = getsum([1,5,3,2,9])

print(s)

20

### Types of Functions

### 1. abs()

In [211]:
# find the absolute value

num = -100

print(abs(num))

100

### 2. all ()

* True: If all elements in an iterable are true.
* False: If any element in an iterable is false.

In [212]:
lst = [1,2,3,4]

print(all(lst))

True

In [213]:
lst = [0,5,3,2,9]  #here, 0 present and it false in python

print(all(lst))

False

In [214]:
lst = []

print(all(lst))

True

In [215]:
lst = [False, 1, 2]

print(all(lst))

False

### 3. dir()

In [216]:
numbers = [1,2,3]

print(dir(numbers))  # it returns all the variables or all the attributes of this particular data type.

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### 4. divmod()

In [217]:
print(divmod(9,2)) #print quotient and reminder as a tuple

(4, 1)

### 5. enumerate()

* syntax: enumerate(iterable, start = 0)

In [218]:
numbers = [10, 20, 30, 40]

for index, num in enumerate(numbers, 5):
    print("index {0} has value {1}".format(index, num))

index 5 has value 10
index 6 has value 20
index 7 has value 30
index 8 has value 40

### 6. filter()

* syntax: filter(function, iterable)

In [1]:
def find_positive_number(num):
    """
    This function returns the positive number if num is positive
    """
    
    if num > 0:
        return num

In [2]:
number_list = range(-10,10)
print(list(number_list))

positive_num_list = list(filter(find_positive_number, number_list))

print(positive_num_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 7. isinstance()

* syntax: isinstance(object, classinfo)

In [3]:
num = [2, 4, 6]

x = isinstance(num, list)
print(num,'Instance of list?', x)

[2, 4, 6] Instance of list? True

### 8. map()

In [4]:
numbers = [1,2,3,4]

def PowerofTwo(num):
    return num ** 2

#using map() function

squared = list(map(PowerofTwo, numbers))
print(squared)

[1, 4, 9, 16]

### 9. reduce()

* most of the case it's use sum or product of num in the array or list.

In [223]:
#product of all numbers (normal way)

In [224]:
product = 1
lst = [1,2,3,4]

for num in lst:
    product = product * num;
print(product)

24

In [225]:
#with reduce

from functools import reduce  # in python 3

def multiply(x,y):
    return x*y;

product = reduce(multiply,lst)

In [226]:
product

24

# Function Arguments

### 1. Default Argements

In [227]:
def grt(name, msg = "good morning"):
    print("Hello {0}, {1}".format(msg,name))
    
grt("nadim")

Hello good morning, nadim

### 2. Keyword Arguments

In [228]:
# using kwargs

def greet(**kwargs):
    """
    its greet to person with the provided message.
    
    """
    if kwargs:
        print("Hello {0}, {1}".format(kwargs['name'], kwargs['msg']))
        
        
greet(name = "nadim", msg = "good morning.")

Hello nadim, good morning.

### 3. Arbitrary Argument

* Sometimes we do not know in advance the number of arguments that will be passed into a function. Python allows us to handle this kind of situation through function calls with Arbitrary number of arguments.

In [229]:
def greet(*names):
    '''
    this function greets all persons in the names tuple.
    '''
    
    print(names)
    
    for name in names:
        print("Hello, {0}".format(name))
        
        
greet('alex', 'jhon', 'max', 'hitesh')

('alex', 'jhon', 'max', 'hitesh')
Hello, alex
Hello, jhon
Hello, max
Hello, hitesh