# Function in python

In [11]:
def myfunc():
  print("Hello,this is a function!")

myfunc()

Hello,this is a function!

In [14]:
def myfunc(fname):
  print(fname + " how are you?")

myfunc("Alex")
myfunc("Jemmy")
myfunc("William")

Alex how are you?
Jemmy how are you?
William how are you?

In [16]:
def myfunc(country = "Bangladesh"):
  print("I am from " + country)

myfunc("India")
myfunc()
myfunc("USA")
myfunc("Brazil")

I am from India
I am from Bangladesh
I am from USA
I am from Brazil

In [18]:
def myfunc(x):
  return 5 * x

print(myfunc(3))
print(myfunc(5))
print(myfunc(9))

15
25
45

In [28]:
def function1(x):
    return 2*x

In [29]:
function1(5)

10

In [30]:
function1(7)

14

In [33]:
def function2(a,b):
    return a+b

In [34]:
function2(5,4)

9

In [46]:
def function3(some_argumnet):
    print("Hey")
    print("What's Up?")

In [50]:
function3('abc')

Hey
What's Up?

In [51]:
function3('2')

Hey
What's Up?

# *Args and **kwargs

In [52]:
#  *args return tuple
#  **kwargs return dictionary

In [55]:
def myfunc(*args):
    return sum(args) * 5

In [58]:
myfunc(10,15,25,40,12)  #102*5

510

In [63]:
def print_values(**kwargs):
    for key, value in kwargs.items():
        print("The value of {} is {}".format(key, value))

print_values(
            name1="Alex",
            name2="Gray",
            name3="Harper",
            name7="Anik"
        )

The value of name1 is Alex
The value of name2 is Gray
The value of name3 is Harper
The value of name7 is Anik