# List in Python

In [ ]:
# list are order sequence that can hold a variety o fobject types.
# they use [] and , to seperate objects.
#List support indexing and slicing...

# IN LIST WE CAN CHANGE THE VALUE, SO THIS IS MUTABLE.

In [2]:
mylist = [1,2,3,4,5]

In [3]:
mylist = ['myname',17,12.58]

In [4]:
len(mylist)

3

In [5]:
mylist[0]

'myname'

In [6]:
mylist[1:]

[17, 12.58]

In [7]:
mylist[::]

['myname', 17, 12.58]

# append method

In [8]:
mylist = [1,2,3,4,5,6,7,8,9]

In [9]:
mylist.append('how are you') # adding elements in last

In [10]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'how are you']

In [11]:
len(mylist)

10

# pop method

In [12]:
mylist = ["hi","hello","how are you","hello wolrd"]

In [13]:
mylist.pop(0)

'hi'

In [14]:
mylist

['hello', 'how are you', 'hello wolrd']

In [15]:
mylist.pop(1)

'how are you'

# sort method

In [16]:
mylist = [1,4,9,65,14,25,2]

In [17]:
mylist.sort()

In [18]:
mylist

[1, 2, 4, 9, 14, 25, 65]

# reverse method

In [19]:
mylist = [1,2,3,57,48,74,12,47]

In [20]:
mylist.reverse()

In [21]:
mylist

[47, 12, 74, 48, 57, 3, 2, 1]

In [ ]:
# NESTING LIST

In [24]:
list1 = [1,2,3]
list2 = [1,2,5]
list3 = [7,8,9]

In [25]:
matrix = [list1,list2,list3]

In [26]:
matrix

[[1, 2, 3], [1, 2, 5], [7, 8, 9]]

In [27]:
matrix[0][1] #here, 2 is common, so 2 is value...

2

In [28]:
list(range(1,5))

[1, 2, 3, 4]

# Insert method

In [29]:
mylist = ['karim', 'rahim', 'sumon', 11, 21]

In [30]:
mylist.insert(0,'nadim')

mylist

In [31]:
print(mylist)

['nadim', 'karim', 'rahim', 'sumon', 11, 21]

# String Join Method

In [2]:
sentence = ['Python','has','officially','been','searched','on','google','more','times','than','java','in','2018']

In [3]:
final = ' '.join(sentence)
print(final)

Python has officially been searched on google more times than java in 2018

# List Elements Delete and Extend

In [34]:
mylist = ['nadim','karim','sumon','alex',15, 11]

In [35]:
del mylist[0:3]

In [36]:
mylist

['alex', 15, 11]

In [37]:
mylist = mylist + ['Anik']

In [38]:
mylist

['alex', 15, 11, 'Anik']

In [39]:
mylist[0] = "HEY"

In [40]:
mylist

['HEY', 15, 11, 'Anik']

In [41]:
mylist = mylist + [12,13]

In [42]:
mylist

['HEY', 15, 11, 'Anik', 12, 13]

In [43]:
mylist.extend([2,23,45])

In [44]:
mylist

['HEY', 15, 11, 'Anik', 12, 13, 2, 23, 45]

In [45]:
mylist.insert(2,"William")

In [46]:
mylist

['HEY', 15, 'William', 11, 'Anik', 12, 13, 2, 23, 45]

In [47]:
mylist.remove('HEY')

In [48]:
mylist

[15, 'William', 11, 'Anik', 12, 13, 2, 23, 45]

# Sum,Min,Max

In [49]:
mylist=[12,10,45,14,65,80,14,52,10]

In [50]:
sum(mylist)

302

In [51]:
min(mylist)

10

In [52]:
max(mylist)

80