# Operators in Python

In [1]:
#Arithmatic Operator
#Assignment Operator
#Relational Operator
#Logical Operator
#Unary Operator
#Comparison Operator

# Arithmatic Operator

In [2]:
x = 2

In [3]:
y = 3

In [4]:
x+y

5

In [5]:
x**2

4

In [6]:
4%2

0

In [7]:
4/2

2.0

# Assignment Operator

In [8]:
x = 2 , # equalto means assignment

In [9]:
x = 2+1 #x=x+2

In [10]:
x

3

In [11]:
x += 1

In [12]:
x

4

In [13]:
x*=3

In [14]:
x

12

In [15]:
a,b = 5,6

In [16]:
a

5

In [17]:
b

6

# Unary Operator

# In mathematics, a unary operation is an operation with only one operand, i.e. a single input. An example is the function f : A â†’ A, where A is a set. The function f is a unary operation on A.

In [18]:
n = 7

In [19]:
n = -n

In [20]:
n

-7

# Relational Operator

In [21]:
a,b = 5,6

In [22]:
a>b

False

In [23]:
a<b

True

In [24]:
a == b

False

In [25]:
a <= b

True

In [26]:
a >=b

False

In [27]:
a != b

True

# Logical Operator (and, or, not)

In [28]:
a = 5
b = 4

In [29]:
a < 8 and b > 4


#Truth table for AND
#both side should be true...

False

In [30]:
a > 8 or b == 4

True

In [31]:
a < 8 or b > 4

True

In [32]:
x = True

In [33]:
not x

False

# Comparison Operator True or False

In [34]:
'2' == 2

False

In [35]:
2.0 == 2

True

In [36]:
2.0 == 2.0

True

In [37]:
3 != 3

False

In [38]:
1<2<3

True

In [39]:
1<2 and 2>3

False

In [40]:
1<2 and 2<3

True

In [41]:
100 == 1

False