# Sets

# sets are unodered collection of unique elements...

# set does not support indexing...

# It will not maintain the sequence...

# it does not support duplicate values...

# Set Using {} Curly Braces...

In [33]:
mylist = [1,2,3,4,5,6,2,4,4,7,8,1,4,2,4,9,17]

In [34]:
print(set(mylist))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 17}

In [35]:
s = {22,25,14,21,5}

In [36]:
s

{5, 14, 21, 22, 25}

In [37]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [38]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'banana', 'apple', 'cherry'}

In [39]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

# add method

In [40]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'apple', 'orange', 'cherry'}

# update method

In [41]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'banana', 'apple', 'orange', 'mango', 'cherry', 'grapes'}

In [42]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

# discard method

In [43]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

# pop method

In [44]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'apple', 'cherry'}

# clear method

In [45]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

# copy method

In [46]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'banana', 'apple', 'cherry'}

# difference method

In [47]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y) 

print(z)

{'banana', 'cherry'}

# difference upadte method

In [48]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y) 

print(x)

{'banana', 'cherry'}