# Tuples in python

In [2]:
#Tuple is almost same as List...
#list use {} bracket, ar tuple use () bracket...
#Once an element in inside a tuple, it can not be reassigned...
#Tuple is faster than LIST and values are unchangeable.

In [3]:
t = (1,2,3)

In [4]:
type(t)

tuple

In [5]:
mylist = [1,2,3]

In [6]:
type(mylist)

list

In [7]:
len(mylist)

3

In [8]:
len(t)

3

In [9]:
t = ( 1 , 'two') # tuple example

In [10]:
t[1]

'two'

In [11]:
t[-1]

'two'

In [12]:
t[0]

1

In [13]:
t = ('a','a','b')

In [14]:
t.count('a') #here, a is counting total 2 times.

2

In [15]:
t.index('a') #counting first index

0

In [16]:
t.index('b')

2

In [33]:
thistuple = ("apple", "banana", "cherry")

In [36]:
print(thistuple[0])

apple

In [35]:
print(thistuple)

('apple', 'banana', 'cherry')

In [37]:
thistuple = ("apple", "banana", "cherry")

In [38]:
for x in thistuple:
  print(x)

apple
banana
cherry

In [39]:
print(len(thistuple))

3

# tuples are unchangeable, so its does not support add or remove any elements.

In [40]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [42]:
this_set = {"apple", "banana", "cherry"}

this_set.update(["orange", "mango", "grapes"])

print(this_set)

{'orange', 'cherry', 'mango', 'grapes', 'banana', 'apple'}

In [43]:
print(len(thisset))

6

In [44]:
this_set.remove("banana")

In [45]:
print(this_set)

{'orange', 'cherry', 'mango', 'grapes', 'apple'}

In [46]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [47]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

In [48]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()