# Data Types

In [1]:
print('hello wrold')

hello wrold

In [2]:
print("hello world")

hello world

In [3]:
print('What\'s your name?')

What's your name?

In [4]:
print("whats your name?")

whats your name?

In [5]:
#multiple line comment

message = """windows operating system
is most popular in the world"""

In [6]:
message = "hey"

In [7]:
print  (message)

hey

In [8]:
print = ("hello world")

In [9]:
print

'hello world'

In [10]:
txt = "Hello world"

In [11]:
len(txt)

11

In [12]:
mystring = "hello world"

In [13]:
len(mystring)

11

In [14]:
x = 76 + 145

In [15]:
x

221

In [16]:
x = 3

In [17]:
type(x)

int

In [18]:
x = 3.5

In [19]:
type(x)

float

In [20]:
x = [2]

In [21]:
type(x)

list

In [22]:
k = 6
c = complex(k)

In [23]:
c

(6+0j)

In [24]:
x = { 'x':2}

In [25]:
type(x)

dict

# Character access in string...

In [1]:
message = "Hello World"

In [2]:
print(message[::])

Hello World

In [3]:
print(message[:])

Hello World

In [4]:
print(message[0:])

Hello World

In [5]:
print(message[0:1])

H

In [6]:
print(message[0:5])

Hello

In [7]:
message[5:]

' World'

In [8]:
print(message[5:])

 World

# Upper Lower method

In [9]:
mystring = "hello world"

In [10]:
print(mystring.upper())

HELLO WORLD

In [11]:
print(mystring.lower())

hello world

## countr type method

In [12]:
mystring = "hello world"

In [13]:
print(message.count("l"))

3

In [14]:
print(message.count('0'))

0

In [15]:
print(message.count('o'))

2

# find method

In [16]:
mystring = "hello world hi how are you?"

In [17]:
print(mystring.find("world"))

6

In [18]:
print(mystring.find("hello"))

0

In [19]:
print(mystring.find('hi'))

12

In [20]:
print(mystring.find('are'))

19

# Numbers

In [21]:
2+3

5

In [22]:
2-1

1

In [23]:
2**2

4

In [24]:
2+2/4

2.5

In [25]:
2+2%4

4

In [26]:
(100+20) % (100+20)

0

In [27]:
(100+20) / (100+20)

1.0

In [28]:
50%5

0

In [29]:
50/5

10.0

In [30]:
50//5

10

In [31]:
2**3

8

In [32]:
2 + 10**2 /100

3.0

In [33]:
2 + 10*3 + 3

35

# python support dynamic data type

In [34]:
a = 5

In [35]:
a= "anik"

In [36]:
a = 3.6

In [37]:
print(a)

3.6

In [38]:
d = 'dog'

In [39]:
print(d+d)

dogdog

In [40]:
a = 5

In [41]:
b = 4

In [42]:
a+b

9

In [43]:
a+b*2   #5+4*8=13

13

In [44]:
mydogs = 2

In [45]:
mydogs = ['samie','frankie']

In [46]:
print(mydogs)

['samie', 'frankie']

In [47]:
myincome = 100
myspend =99
mysave = myincome - myspend
print(mysave)

1

# New Line access+escape sequence

In [48]:
print("hello\nworld")

hello
world

In [49]:
print("hello\tworld")

hello	world

In [50]:
#   \t = means total 4 space for tab
#   \n = means total 1 space for new line

# String Indexing and slicing

In [51]:
mystring = 'Nadim Anik'

In [52]:
mystring[::-1]

'kinA midaN'

In [53]:
mystring[-3]

'n'

In [54]:
mystring[:]

'Nadim Anik'

In [55]:
mystring[::]

'Nadim Anik'

In [56]:
mystring[2:]

'dim Anik'

In [57]:
mystring[:1]

'N'

In [58]:
mystring[:3]

'Nad'

In [59]:
mystring[::3] #3step jumping...

'NiAk'

In [60]:
mystring[::1]

'Nadim Anik'

In [61]:
mystring[::4] #4 step jumping...

'Nmi'

# string concatination

In [62]:
z = " hello"

In [63]:
name = ' sam'

In [64]:
x = z + name + " how are you?"

In [65]:
print(x)

 hello sam how are you?

In [66]:
#another example

In [67]:
x = " hi"

In [68]:
x = x*10

In [69]:
print(x)

 hi hi hi hi hi hi hi hi hi hi

In [70]:
x = 10

In [71]:
x = x*3+2

In [72]:
x

32

In [73]:
 x = '23' + "64" #string in a number

In [74]:
x

'2364'

In [75]:
print(x)

2364

# string split

In [76]:
x = 'hello sam'

In [77]:
print(x.split())

['hello', 'sam']

In [78]:
z = "this is a string"

In [79]:
print(z.split("i"))

['th', 's ', 's a str', 'ng']

# string formatting method

In [80]:
print('the {a},{b},{c}'.format(b = 'mango',a = 'apple', c = 'banana'))

the apple,mango,banana

In [81]:
#another example

In [82]:
print('The {0},{1},{1}'.format('fox','brown','quick'))

The fox,brown,brown

# float formatting method

In [83]:
#  roles

#  "{value: width.precisionm f}"

#            r:  1.2 f

In [84]:
result = 15.52465812

In [85]:
print("The result was {r:1.4f}".format(r = result))

The result was 15.5247

# string literal method

In [86]:
name = "sam"
age = 33

In [87]:
print(f'{name} is {age} years old')

sam is 33 years old

In [88]:
#anothr example

In [89]:
name = "david"

In [90]:
print(f"{name} is good boy")

david is good boy

# boolean

In [91]:
bool(1)

True

In [92]:
bool(0)

False

In [93]:
type(bool)

type

In [94]:
int(True)

1

In [95]:
st = {25,10,25}

In [96]:
type(st)

set

In [97]:
t = (1,2,3,4)

In [98]:
type(t)

tuple

In [99]:
str = "anik"

In [100]:
type(str)

str

# how to find memory adress

In [101]:
num = 5

In [102]:
id(num)

1674865856

In [103]:
a = 10
b = a

In [104]:
a

10

In [105]:
b

10

In [106]:
#a and b and 10 , k - all of memory address is same.

In [107]:
id(a)

1674866016

In [108]:
id(b)

1674866016

In [109]:
id(10)

1674866016

In [110]:
k = 10

In [111]:
id(k)

1674866016

In [112]:
PI = 3.14

In [113]:
type(PI)

float

# Range Calculating

In [114]:
range(10)

range(0, 10)

In [115]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [116]:
list(range(2,10,2)) #here - 2 stepsize

[2, 4, 6, 8]